<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        子级档案管理
        <small>子级档案设置页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">子级档案管理</a></li>
        <li class="active">档案管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 子级档案编号</label>
                                <input type="text" class="form-control input-sm" name="subbasicno" id="searchName" placeholder="请输入基本档案编号">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="subbasic:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="subbasic:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="subbasic:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'subbasicno',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加档案信息</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="addSubbasicno"><span class="asterisk">*</span>档案编号:</label>
                        <input id="addSubbasicno" type="text" class="form-control" name="subbasicno" placeholder="例:zd00001"
                               required
                               pattern="^zd\d{5}$" data-pattern-error="格式应为,例:zd00001"
                               data-remote="subbasic/checkNo" data-remote-error="该档案编号已存在"
                        >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addSubbasicname"><span class="asterisk">*</span>档案名称:</label>
                        <input id="addSubbasicname" type="text" class="form-control" name="subbasicname" placeholder="输入档案名称"
                               required
                               data-remote="subbasic/checkName" data-remote-error="该档案名称已存在"
                        >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addMainbasicno"><span class="asterisk">*</span>上级编号:</label>
                        <input id="addMainbasicno" type="text" class="form-control" name="mainbasicno" placeholder="输入档案名称"
                               required
                               pattern="^d\d{5}$" data-pattern-error="格式应为,例:d00001">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addMnemoniccode"><span class="asterisk">*</span>助记码:</label>
                        <input id="addMnemoniccode" type="text" class="form-control" name="mnemoniccode" placeholder="输入助记码">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" ><span class="asterisk">*</span>封存标志:</label>
                        <input  name="archivemark" value="0" type="radio" class="ace" checked="checked"/>
                        <span class="lbl"> 否</span> <!--checked="checked"-->
                        <input  name="archivemark" value="1" type="radio" class="ace" />
                        <span class="lbl"> 是</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addSubremark"><span class="asterisk">*</span>备注:</label>
                        <input id="addSubremark" type="text" class="form-control" name="subremark" placeholder="不能超过20字">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addSuboperationunit"><span class="asterisk">*</span>操作员单位:</label>
                        <input id="addSuboperationunit" type="text" class="form-control" name="suboperationunit" placeholder="操作员单位"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/subbasic/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改档案</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="subbasicno"/>

                    <div class="form-group">
                        <label class="control-label" for="editSubbasicname"><span class="asterisk">*</span>档案名称:</label>
                        <input id="editSubbasicname" type="text" class="form-control" name="subbasicname" placeholder="输入档案名称"
                               required

                        >
                        <!--data-remote="subbasic/checkName1" data-remote-error="该档案名称已存在"-->
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editMnemoniccode"><span class="asterisk">*</span>助记码:</label>
                        <input id="editMnemoniccode" type="text" class="form-control" name="mnemoniccode" placeholder="输入助记码"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" ><span class="asterisk">*</span>封存标志:</label>
                        <input  name="archivemark" value="0" type="radio" class="ace"/>
                        <span class="lbl"> 否</span> <!--checked="checked"-->
                        <input  name="archivemark" value="1" type="radio" class="ace" />
                        <span class="lbl"> 是</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editSubremark"><span class="asterisk">*</span>备注:</label>
                        <input id="editSubremark" type="text" class="form-control" name="subremark" placeholder="不能超过20字">
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/subbasic/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除档案信息</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/subbasic/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a shiro:hasPermission="subbasic:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="subbasic:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">

    var $table = $('#table');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/subbasic/list',
            idField: 'subbasicno',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'subbasicno', title: '档案编号', sortable: true, halign: 'left'},
                {field: 'subbasicname', title: '档案名称', sortable: true, halign: 'left'},
                {field: 'mainbasicno', title: '上级编号', sortable: true, halign: 'left'},
                {field: 'mnemoniccode', title: '助记码', sortable: true, halign: 'left'},
                {field: 'archivemark', title: '封存标记', sortable: true, halign: 'left',
                    formatter:function(value,row,index){
                        if(value == 0){
                            return '否';
                        }else{
                            return '是';
                        }
                    }
                },
                {field: 'subremark', title: '备注', sortable: true, halign: 'left'},
                {field: 'suboperator', title: '操作人员', sortable: true, halign: 'left'},
                {field: 'suboperationunit', title: '操作单位', sortable: true, halign: 'left'},
                {field: 'suboperationdate', title: '操作时间', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    // var oldNo;
    //
    // $("#editBtn").click(function(){
    //     var data = $table.bootstrapTable('getSelections');
    //     oldNo = data[0].fixedareano;
    //     console.log("data="+data[0])
    //     console.log("oldNo="+oldNo)
    // })

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
</script>
</html>