<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        送派时间管理
        <small>送派时间管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">送派时间管理</a></li>
        <li class="active">送派时间管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 时间名称</label>
                                <input type="text" class="form-control input-sm" name="name" id="searchName" placeholder="请输入时间名称">

                            </div>
                           <!-- <div class="form-group">
                                <label class="control-label" for="unit"><span class="asterisk">*</span>所属单位:</label>
                                <select name="unit" id="unit" class="form-control"
                                        data-placeholder="请从列表选择一项" required>
                                    <option th:each="groupType : ${groupTypeList}" th:value="${groupType}" th:text="${groupType}">
                                        组类型不存在
                                    </option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>-->
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="group:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="group:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="group:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加送派时间</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="name"><span class="asterisk">*</span>送派时间名称:</label>
                        <input id="name" type="text" class="form-control" name="datename" placeholder="输入送派时间名称"
                               minlength="3" data-remote="sp/check" data-remote-error="送派时间名称已存在！"
                        >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="type"><span class="asterisk">*</span>所属单位:</label>
                        <select name="unit" id="type" class="form-control"
                                data-placeholder="请从列表选择一项" required>
                            <option th:each="groupType : ${groupTypeList}" th:value="${groupType}" th:text="${groupType}">
                                组类型不存在
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pacific_up">平时上班时间:</label>
                        <input id="pacific_up" type="time" class="form-control"   name="pacificup" placeholder="输入平时上班时间" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pacific_off">平时下班时间:</label>
                        <input id="pacific_off" type="time" class="form-control" name="pacificoff" placeholder="输入平时下班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sat_up">周六上班时间:</label>
                        <input id="sat_up" type="time" class="form-control" name="satup" placeholder="输入周六上班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sat_off">周六下班时间:</label>
                        <input id="sat_off" type="time" class="form-control" name="satoff" placeholder="输入周六下班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sun_up">周日上班时间:</label>
                        <input id="sun_up" type="time" class="form-control" name="sunup" placeholder="输入周日上班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sun_off">周日下班时间:</label>
                        <input id="sun_off" type="time" class="form-control" name="sunoff" placeholder="输入周日下班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/sp/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改送派时间</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="control-label" for="editName"><span class="asterisk">*</span>时间名称:</label>
                        <input id="editName" type="text" class="form-control" name="datename" placeholder="输入时间名称"
                               minlength="3" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editType"><span class="asterisk">*</span>所属单位:</label>
                        <select name="unit" id="editType" class="form-control"
                                data-placeholder="请从列表选择一项" required>
                            <option th:each="groupType : ${groupTypeList}" th:value="${groupType}" th:text="${groupType}">
                                所属单位不存在
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="xpacific_up">平时上班时间:</label>
                        <input id="xpacific_up" type="time" class="form-control" name="pacificup" placeholder="输入平时上班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="xpacific_off">平时下班时间:</label>
                        <input id="xpacific_off" type="time" class="form-control" name="pacificoff" placeholder="输入平时下班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="xsat_up">周六上班时间:</label>
                        <input id="xsat_up" type="time" class="form-control" name="satup" placeholder="输入周六上班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="xsat_off">周六下班时间:</label>
                        <input id="xsat_off" type="time" class="form-control" name="satoff" placeholder="输入周六下班时间">
                        <div class="help-block with-errors"></div>
                    </div>








                    <div class="form-group">
                        <label class="control-label" for="xsun_up">周日上班时间:</label>
                        <input id="xsun_up" type="time" class="form-control" name="sunup" placeholder="输入周日上班时间">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="xsun_off">周日下班时间:</label>
                        <input id="xsun_off" type="time" class="form-control" name="sunoff" placeholder="输入周日下班时间">
                        <div class="help-block with-errors"></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/sp/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除送派时间</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/sp/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a shiro:hasPermission="group:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="group:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">

    var $table = $('#table');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/sp/list',
            idField: 'id',
            columns: [
                {field: 'state', checkbox: true},
               /* {field: 'id', title: '编号', sortable: true, halign: 'left'},*/
                {field: 'datename', title: '时间名称', sortable: true, halign: 'left'},
                {field: 'unit', title: '所属单位', sortable: true, halign: 'left'},
                {field: 'pacificup', title: '平时上班时间', sortable: true, halign: 'left'},
                {field: 'pacificoff', title: '平时下班时间', sortable: true, halign: 'left'},
                {field: 'satup', title: '周六上班时间', sortable: true, halign: 'left'},
                {field: 'satoff', title: '周六下班时间', sortable: true, halign: 'left'},
                {field: 'sunup', title: '周日上班时间', sortable: true, halign: 'left'},
                {field: 'sunoff', title: '周日下班时间', sortable: true, halign: 'left'},

                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
</script>
</html>