<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        班车设置
        <small>班车设置的管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">班车设置</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                   <div id="toolbar">

                       <!-- search Modal -->
                       <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                           <div class="modal-dialog" role="document">
                               <div class="modal-content">

                                   <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                       </button>
                                       <h4 class="modal-title" id="ModalLabel">查询班车</h4>
                                   </div>

                                   <div class="modal-body">
                                       <form id="searchForm">

                                           <div class="form-group">
                                               <label class="control-label" style="font-size:15px">线路类型：</label>
                                               <select  style="width: 170px;heigh:60px" class="form-control select2" id="style" name="style" required>
                                                   <option value="全部" th:align="50px">全部</option>
                                                   <option value="干线">干线</option>
                                                   <option value="周边">周边</option>
                                                   <option value="省内">省内</option>
                                                   <option value="临时">临时</option>
                                                   <option value="市内">市内</option>
                                               </select>
                                               <br><br>
                                               <label class="control-label" style="font-size:15px">始发地：</label>
                                               <input list="namefrom1" name="namefrom" placeholder="请输入要查询的始发地" required/>
                                               <datalist id="namefrom1" >
                                                   <option  name="namefrom" th:each="namefromto : ${namefromList}" th:value="${namefromto.namefrom}" th:text="${namefromto.namefrom}">角色不存在</option>
                                               </datalist>
                                               <br><br>
                                               <label class="control-label" style="font-size:15px">终点地：</label>
                                               <input list="nameto1" name="nameto" placeholder="请输入要查询的终点地" required/>
                                               <datalist id="nameto1">
                                                   <option   th:each="namefromto : ${namefromList}" th:value="${namefromto.nameto}" th:text="${namefromto.nameto}">角色不存在</option>
                                               </datalist>
                                               <br><br>

                                               <label class="control-label" style="font-size:15px">车牌号：</label><input type="text"  name="license" id="license" placeholder="请输入车牌号">
                                               <br><br>
                                               <label class="control-label" style="font-size:15px">司机：</label><input type="text"  name="driver" id="driver" placeholder="请输入司机名称">
                                               <br><br>
                                               <label class="control-label" style="font-size:15px">承运商：</label><input type="text"  name="operators" id="operators" placeholder="请输入承运商的名称">
                                           </div>

                                           <div class="btn-group btn-group-sm">
                                               <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                                   <i class="glyphicon glyphicon-search"></i>
                                                   查询
                                               </button>

                                               <!--<button type="submit" form="addForm" class="btn btn-primary"-->
                                               <!--data-action="{type:'submit',form:'#addForm',url:'@{/bus/create}',after:'$.myAction.refreshTable'}">-->
                                               <!--确定-->
                                               <!--</button>-->
                                               <button type="reset" class="btn btn-default">
                                                   <i class="glyphicon glyphicon-trash"></i>
                                                   清空
                                               </button>
                                               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                           </div>

                                       </form>
                                   </div>

                               </div>
                           </div>
                       </div>

                        <div class="btn-group btn-group-sm">
                            <!--查询的模态框-->
                            <button shiro:hasPermission="user:create" type="button" id="searchBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#searchModal"><i class="glyphicon glyphicon-plus"></i> 查询
                            </button>

                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="user:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="user:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'busid',idField:'routeid',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>

                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->






<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加班车</h4>
            </div>

            <div class="modal-body">
                <form id="addForm">

                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>线路类型：</label>
                        <select  style="width: 170px;heigh:60px" id="style3" name="style">
                            <option value="全部" th:align="50px">全部</option>
                            <option value="干线">干线</option>
                            <option value="周边">周边</option>
                            <option value="省内">省内</option>
                            <option value="临时">临时</option>
                            <option value="市内">市内</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="font-size:15px">始发地：</label><span id="aaa" class="asterisk"></span>
                        <select style="width:120px;" class="form-control select2" name="namefrom" id="namefrom3">
                            <!--<option disabled selected hidden value="" aria-expanded="false">请输入要新增的始发地</option>-->
                            <option  th:each="namefromto : ${namefromList}" th:value="${namefromto.namefrom}" th:text="${namefromto.namefrom}">角色不存在</option>
                        </select>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="font-size:15px"><span class="asterisk">*</span>终点地：</label><span id="bbb" class="asterisk"></span>
                        <select style="width:120px;" class="form-control select2" name="nameto" id="nameto3">
                            <!--<option disabled aria-expanded="false" selected  value="">请输入要新增的终点地</option>-->
                            <option  th:each="namefromto : ${namefromList}" th:value="${namefromto.nameto}" th:text="${namefromto.nameto}">角色不存在</option>
                        </select>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>车牌号：</label>
                        <input type="text" class="form-control input-sm" name="license" id="license3" placeholder="请输入车牌号"
                               pattern="^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$"
                               data-pattern-error="格式应为苏A1B204" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>司机:</label>
                        <input type="text" class="form-control input-sm" name="driver" id="driver3" placeholder="请输入司机名称"
                               pattern="^[\u4e00-\u9fa5]{2,4}$" data-pattern-error="输入中文，2~4位" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>承运商:</label>
                        <input type="text" class="form-control input-sm" name="operators" id="operators3" placeholder="请输入承运商的名称">
                        <div class="help-block with-errors" required></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>电话:</label>
                        <input type="text" class="form-control input-sm" name="phone" id="phone3" placeholder="请输入电话"
                               pattern="^1[34578]\d{9}$"  data-pattern-error="格式为1[34579]加9位数字"   required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>吨数(KG):</label>
                        <input type="number" class="form-control input-sm" name="weight" id="weight3" placeholder="请输入吨数" required
                               min="0" max="100"    data-pattern-error="吨数必须是1~100的数字">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>车型:</label>
                        <input type="text" class="form-control input-sm" name="model" id="model3" placeholder="请输入车型" required
                               min="1"  max="100">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>备注:</label>
                        <input type="text" class="form-control input-sm" name="remark" id="remark3" placeholder="请输入备注" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/bus1/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>

        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改班车</h4>
            </div>

            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="busid"/>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>线路类型：</label>
                        <select  style="width: 170px;heigh:60px" id="style2" name="style">
                            <option value="全部" th:align="50px">全部</option>
                            <option value="干线">干线</option>
                            <option value="周边">周边</option>
                            <option value="省内">省内</option>
                            <option value="临时">临时</option>
                            <option value="市内">市内</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="font-size:15px" ><span class="asterisk">*</span>始发地：</label><span class="asterisk" id="ccc" ></span>
                        <select style="width:120px;"  class="form-control select2" name="namefrom"  id="namefrom2">
                            <option disabled   value="" aria-expanded="false">请输入要修改的始发地</option>
                            <option  th:each="namefromto : ${namefromList}"  th:value="${namefromto.namefrom}"
                                    th:text="${namefromto.namefrom}">角色不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="font-size:15px" ><span class="asterisk">*</span>终点地：</label><span class="asterisk" id="ddd" ></span>
                        <select style="width:120px;"  class="form-control select2" name="nameto"  id="nameto2">
                            <option disabled   value="" aria-expanded="false">请输入要修改的终点地</option>
                            <option  th:each="namefromto : ${namefromList}" th:value="${namefromto.nameto}"
                                    th:text="${namefromto.nameto}">角色不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>车牌号：</label>
                        <input type="text" class="form-control input-sm" name="license" id="license2" placeholder="请输入车牌号"
                               pattern="^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$"
                               data-pattern-error="格式应为苏A1B204">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>车型:</label>
                        <input type="text" class="form-control input-sm" name="model" id="model2" placeholder="请输入车型">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>司机:</label>
                        <input type="text" class="form-control input-sm" name="driver" id="driver2" placeholder="请输入司机名称"
                               pattern="^[\u4e00-\u9fa5]{2,4}$" data-pattern-error="输入中文，2~4位">

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>电话:</label>
                        <input type="text" class="form-control input-sm" name="phone" id="phone2" placeholder="请输入电话"
                               pattern="^1[34578]\d{9}$"  data-pattern-error="格式为1[34579]加9位数字">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>吨数(KG):</label>
                        <input type="number" class="form-control input-sm" name="weight" id="weight2" placeholder="请输入吨数"
                               min="1"  max="100"  data-pattern-error="吨数必须是1~100的数字">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><span class="asterisk">*</span>备注:</label>
                        <input type="text" class="form-control input-sm" name="remark" id="remark2" placeholder="请输入司机名称">
                        <div class="help-block with-errors"></div>
                    </div>
                    <input  class="form-control input-sm" name="operators" type="hidden" >
                    <input  class="form-control input-sm" name="routeid" type="hidden" >

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/bus1/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除用户</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/bus1/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div id="actionButtons" class="admin-hide">
    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a shiro:hasPermission="user:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="user:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>
<!-- zTree -->
<div id="menuContent" class="menuContent"
     style="display:none;z-index:1989101600;position: absolute;border: 1px solid #ccc; background-color: #fff;">
    <ul id="tree" class="ztree"></ul>
</div>
<script th:inline="javascript">

    var $table = $('#table');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            // console.log($("#license3").val()),
            // console.log($("#operators").val()),
            // console.log($("#driver").val()),
            url: CONTEXT_PATH + '/bus1/list',
            idField: 'busid',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'license', title: '车牌', sortable: true, halign: 'left'},
                {field: 'operators', title: '承运商', sortable: true, halign: 'left'},
                {field: 'driver', title: '司机', sortable: true, halign: 'left'},
                {field: 'phone', title: '电话', sortable: true, halign: 'left'},
                {field: 'model', title: '车型', sortable: true, halign: 'left'},
                {field: 'style', title: '路线类型', sortable: true, halign: 'left'},
                {field: 'operator', title: '操作人', sortable: true, halign: 'left'},
                {field: 'company', title: '操作单位', sortable: true, halign: 'left'},
                {field: 'date', title: '操作时间', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function editAfter(obj, row) {
        var roleIdList = row.roleIdList;
        var groupIdList = row.groupIdList;
        for (i in roleIdList) {
            var roleId = roleIdList[i];
            $('#editForm').find('[name=roleIds]').find('option[value=' + roleId + ']').prop('selected', true);
        }
        for(i in groupIdList) {
            var groupId = groupIdList[i];
            $('#editForm').find('[name=groupIds]').find('option[value=' + groupId + ']').prop('selected', true);
        }
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    var oldlicense;
    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);

            editAfter('', row);
            oldlicense=$('#license2').val();
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    $("#license2").blur(function(){
        var No = document.getElementById("license2");
        console.log(oldlicense);
        console.log($(this).val())
        console.log($(this).val() == oldlicense)
        if($(this).val() != oldlicense){
            // No.setAttribute("data-remote-trigger","blur");
            No.setAttribute("data-remote","bus1/checkNo");
            No.setAttribute("data-remote-error", "这个车牌号已经在数据库存在啦");
        }else {
            // No.setAttribute("data-remote-trigger","blur");
            No.setAttribute("data-remote","bus1/checkTrue")
        }
    })

    $("#license3").blur(function(){
        var No = document.getElementById("license3");
        No.setAttribute("data-remote-trigger","blur");
        No.setAttribute("data-remote","bus1/checkNo");
        No.setAttribute("data-remote-error", "这个车牌号已经在数据库存在啦");
    })

    $("#namefrom3").change(function() {
        var namefrom = $("#namefrom3").val();
        var nameto = $("#nameto3").val();
        console.log(namefrom)
        console.log(nameto)
        console.log(namefrom == nameto)
        if(namefrom == nameto){
            $("#bbb").html("不能和始发地一样")
            $("#aaa").html("不能和终点地一样")
        }else{
            $("#bbb").html("")
            $("#aaa").html("")
        }
    })

    $("#nameto3").change(function() {
        var namefrom = $("#namefrom3").val();
        var nameto = $("#nameto3").val();
        console.log(namefrom)
        console.log(nameto)
        if(namefrom == nameto){
            $("#bbb").html("不能和始发地一样")
            $("#aaa").html("不能和终点地一样")
        }else{
            $("#bbb").html("")
            $("#aaa").html("")
        }
    })

        $("#driver3").blur(function() {
            $.ajax({
                type: "POST",
                url: "bus1/checkNo1",
                data: "driver=" + $("#driver3").val(),
                async: true,
                success: function (msg) {
                    console.log(msg)
                    $("#phone3").attr("value",msg);
                }
            })
        })

    $("#driver2").blur(function() {
        $.ajax({
            type: "POST",
            url: "bus1/checkNo1",
            data: "driver=" + $("#driver2").val(),
            async: true,
            success: function (msg) {
                console.log(msg)
                $("#phone2").prop("text",msg);
            }
        })
    })


    $("#namefrom3").change(function() {
       var namefrom = $("#namefrom3").val();
        var nameto = $("#nameto3").val();
        console.log(namefrom)
        console.log(nameto)
        console.log(namefrom == nameto)
        if(namefrom == nameto){
            $("#bbb").prop("data-pattern-error\"", "不能和终点地一样")
            $("#aaa").prop("data-pattern-error\"", "不能和始发地一样")
        }
    })

    $("#nameto3").change(function() {
        var namefrom = $("#namefrom3").val();
        var nameto = $("#nameto3").val();
        console.log(namefrom)
        console.log(nameto)
        if(namefrom == nameto){
            $("#bbb").prop("data-pattern-error", "不能和终点地一样")
            $("#aaa").prop("data-pattern-error", "不能和始发地一样")
        }
    })

    $("#namefrom2").change(function() {
        var namefrom = $("#namefrom2").val();
        var nameto = $("#nameto2").val();
        console.log(namefrom)
        console.log(nameto)
        console.log(namefrom == nameto)
        if(namefrom == nameto){
            $("#ccc").html( "不能和终点地一样")
            $("#ddd").html( "不能和始发地一样")
        }
    })

    $("#nameto2").change(function() {
        var namefrom = $("#namefrom2").val();
        var nameto = $("#nameto2").val();
        console.log(namefrom)
        console.log(nameto)
        console.log(namefrom == nameto)
        if(namefrom == nameto){
            $("#ccc").html("不能和终点地一样")
            $("#ddd").html( "不能和始发地一样")
        }
    })
    var setting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };
    var orgList = [[${organizationList}]];
    var zNodes = [];
    for (var i in orgList) {
        zNodes.push({id: orgList[i].id, pId: orgList[i].parentId, name: orgList[i].name});
    }

    function onClick(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("tree"),
            nodes = zTree.getSelectedNodes(),
            id = "",
            name = "";
        nodes.sort(function compare(a, b) {
            return a.id - b.id;
        });
        for (var i = 0, l = nodes.length; i < l; i++) {
            id += nodes[i].id + ",";
            name += nodes[i].name + ",";
        }
        if (id.length > 0) id = id.substring(0, id.length - 1);
        if (name.length > 0) name = name.substring(0, name.length - 1);
        $("#organizationId").val(id);
        $("#organizationName").val(name);
        $("#editOrganizationId").val(id);
        $("#editOrganizationName").val(name);
        hideMenu();
    }
    function showMenu() {
        var cityObj = $("#organizationName");
        var cityOffset = $("#organizationName").offset();
        $("#menuContent").css({
            left: cityOffset.left + "px",
            top: cityOffset.top + cityObj.outerHeight()
        }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }

    function showMenuOfEdit() {
        var cityObj = $("#editOrganizationName");
        var cityOffset = $("#editOrganizationName").offset();
        $("#menuContent").css({
            left: cityOffset.left + "px",
            top: cityOffset.top + cityObj.outerHeight()
        }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }

    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }

    function onBodyDown(event) {
        if (!(event.target.id == "organizationName" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
            hideMenu();
        }
    }

    /*  $.fn.zTree.init($("#tree"), setting, zNodes);
      $("#organizationName").click(showMenu);
      $("#editOrganizationName").click(showMenuOfEdit);*/
</script>
</html>