<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        取派管理
        <small>取派员管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">替班管理</a></li>
        <li class="active">替班管理</li>
    </ol>
</section>

<!--<script th:src="@{/static/js/bootstrapValidator.min.js}"></script>-->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchreplayid"> 替工号</label>
                                <input type="text" class="form-control input-sm" name="replayid" id="searchreplayid" placeholder="请输入员工编号">
                            </div>
                            <div class="form-group">
                                <label for="searchname"> 员工姓名</label>
                                <input type="text" class="form-control input-sm" name="name" id="searchname" placeholder="请输入员工姓名">
                            </div>

                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>

                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="staff:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <!-- <button shiro:hasPermission="staff:update" type="button" id="editBtn" class="btn btn-default"
                                     data-toggle="modal"
                                     data-target="#editModal"
                                     data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                     disabled><i class="glyphicon glyphicon-edit"></i> 修改
                             </button>-->
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="staff:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加行</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label class="control-label" for="replayid"><span class="asterisk">*</span>替工号:</label>
                        <select name="replayid" id="replayid" style="width: 570px;height: 34px"  class="form-control select2"
                                data-datamatch="#replayofid"    data-datamatch-error="不能自己替班自己"
                                data-placeholder="请从列表选择一项" required>
                            <option value="">
                            </option>
                            <option th:each="staff: ${staffList}" th:value="${staff.staid}" th:text="${staff.staid}">员工编号不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name"><span class="asterisk">*</span>员工姓名:</label>
                        <input type="text" id="name" class="form-control" readonly unselectable="on"
                               name="name" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="station"><span class="asterisk">*</span>所属单位:</label>
                        <input type="text" class="form-control" id="station" name="station" readonly unselectable="on" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="replayofid"><span class="asterisk">*</span>被替工号:</label>
                        <select name="replayofid" id="replayofid" style="width: 570px;height: 34px"  class="form-control select2"
                                data-datamatch="#replayid"    data-datamatch-error="不能自己替班自己"
                                data-placeholder="请从列表选择一项" required>
                            <option value="">
                            </option>
                            <option th:each="staff: ${staffList}" th:value="${staff.staid}" th:text="${staff.staid}">员工编号不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="nameof"><span class="asterisk">*</span>被替员工姓名:</label>
                        <input type="text" id="nameof" class="form-control" readonly unselectable="on"
                               name="nameof" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="stationof"><span class="asterisk">*</span>被替员工所属单位:</label>
                        <input type="text" class="form-control" id="stationof" name="stationof" readonly unselectable="on" required>
                        <div class="help-block with-errors"></div>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="startDate"><span class="asterisk">*</span>开始时间:</label>
                        <input type="datetime-local" id="startDate" class="form-control"
                               name="starttime" required
                        >
                        <div class="help-block with-errors"></div>

                        <label class="control-label" for="endDate"><span class="asterisk">*</span>结束时间:</label>
                        <input type="datetime-local" id="endDate" class="form-control" name="endtime"
                               data-checktime="#startDate"    data-checktime-error="结束时间必须大于开始时间" required
                        >
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="deltag"><span class="asterisk">*</span>作废标记:</label>
                        <select name="deltag" id="deltag"  class="form-control select2" data-placeholder="请从列表选择一项"required>
                            <option value="">

                            </option>
                            <option value="是">
                                是
                            </option>
                            <option value="否">
                                否
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/replay/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabels">更新行</h4>
            </div>
            <div class="modal-body">
                <form id="editForm" role="form" data-toggle="validator">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="control-label" for="editreplayid"><span class="asterisk">*</span>替工号:</label>
                        <select name="replayid" id="editreplayid" style="width: 570px;height: 34px"  class="form-control select2"
                                data-datamatch="#editreplayofid"    data-datamatch-error="不能自己替班自己"
                                data-placeholder="请从列表选择一项" required>
                            <option value=""></option>
                            <option th:each="staff: ${staffList}" th:value="${staff.staid}" th:text="${staff.staid}">员工编号不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="editname"><span class="asterisk">*</span>员工姓名:</label>
                        <input type="text" id="editname" class="form-control" readonly unselectable="on"
                               name="name" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editstation"><span class="asterisk">*</span>所属单位:</label>
                        <input type="text" class="form-control" id="editstation" name="station" readonly unselectable="on" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="editreplayofid"><span class="asterisk">*</span>被替工号:</label>
                        <select name="replayofid" id="editreplayofid" style="width: 570px;height: 34px"  class="form-control select2"
                                data-datamatch="#editreplayid"    data-datamatch-error="不能自己替班自己"
                                data-placeholder="请从列表选择一项" required>
                            <option value="">
                            </option>
                            <option th:each="staff: ${staffList}" th:value="${staff.staid}" th:text="${staff.staid}">员工编号不存在</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editnameof"><span class="asterisk">*</span>被替员工姓名:</label>
                        <input type="text" id="editnameof" class="form-control" readonly unselectable="on"
                               name="nameof" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="editstationof"><span class="asterisk">*</span>被替员工所属单位:</label>
                        <input type="text" class="form-control" id="editstationof" name="stationof" readonly unselectable="on" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="editstartDate"><span class="asterisk">*</span>开始时间:</label>
                        <input type="datetime-local" id="editstartDate" class="form-control" required
                               name="starttime"
                        >
                        <div class="help-block with-errors"></div>

                        <label class="control-label" for="editendDate"><span class="asterisk">*</span>结束时间:</label>
                        <input type="datetime-local" id="editendDate" class="form-control" name="endtime"
                               data-checktime="#editstartDate"    data-checktime-error="结束时间大于开始时间" required
                        >
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="editdeltag"><span class="asterisk">*</span>作废标记:</label>
                        <select name="deltag" id="editdeltag"  class="form-control select2" data-placeholder="请从列表选择一项"required>
                            <option value="">

                            </option>
                            <option value="是">
                                是
                            </option>
                            <option value="否">
                                否
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/replay/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除用户</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/replay/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div id="actionButtons" class="admin-hide">
    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a shiro:hasPermission="staff:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="staff:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>
<!-- zTree -->
<div id="menuContent" class="menuContent"
     style="display:none;z-index:1989101600;position: absolute;border: 1px solid #ccc; background-color: #fff;">
    <ul id="tree" class="ztree"></ul>
</div>
<script th:inline="javascript">

    var $table = $('#table');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/replay/list',
            idField: 'id',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'replayid', title: '替工号', sortable: true, halign: 'left'},
                {field: 'name', title: '员工姓名', sortable: true, halign: 'left'},
                {field: 'starttime', title: '开始时间', sortable: true, halign: 'left'},
                {field: 'endtime', title: '结束时间', sortable: true, halign: 'left'},
                {field: 'deltag', title: '作废标记', sortable: true, halign: 'left'},
                {field: 'station', title: '单位', sortable: true, halign: 'left'},
                {field: 'upusername', title: '修改人', sortable: true, halign: 'left'},
                {field: 'uptime', title: '修改时间', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });


    $('select[name=replayid]').change(function(){
        // $(this).parent().parent().find('input[name=name]').val('tom')
        console.log($('select[name=replayid]').val())
            var select = $(this)
            $.ajax({
                url: "replay/ajax4input",
                data:'replayid='+select.val(),
                cache:false,
                success:function(replay){
                    console.log('data='+replay);
                    select.parent().parent().find('input[name=name]').val(replay.name)
                    select.parent().parent().find('input[name=station]').val(replay.station)
                    select.parent().parent().find('select[name=deltag]').select2().val(replay.deltag).trigger("change");
                }
            });
    })
    $('select[name=replayofid]').change(function(){
        // $(this).parent().parent().find('input[name=name]').val('tom')

        var select = $(this)
        console.log(select.val())
        $.ajax({
            url: "replay/ajax4input",
            data:'replayid='+select.val(),
            cache:false,
            success:function(replay){
                console.log('data='+replay.toString());
                select.parent().parent().find('input[name=nameof]').val(replay.name)
                select.parent().parent().find('input[name=stationof]').val(replay.station)
                select.parent().parent().find('select[name=deltagof]').select2().val(replay.deltag).trigger("change");
            }
        });
    })





    $('form').validator({
        'disable': false,
        custom: {
            datamatch: function($el) {
                var otherElId = $el.data("datamatch");
                var datematch_error = $el.data("datamatch-error");
                if($el.val() == $(otherElId).val()){
                    return datematch_error;
                }
            },
            checktime: function($el) {
                var otherElId = $el.data("checktime");
                    var datetime_error = $el.data("checktime-error");
                    if($el.val() <=$(otherElId).val()){
                        return datetime_error;
                    }
                }
            }
    });


    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function editAfter(obj, row) {

            var name = row.name;
        console.log(name)
            $('#editForm').find('[name=replayid]').find('option[value=' + name + ']').prop('selected', true);
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }
    var staidno;
    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            console.log("row1"+value,row,index)
           var  a = row.starttime
            var  b = row.endtime
            console.log("start="+a)
            var a1 = a.replace(' ', 'T');
            var b1 = b.replace(' ', 'T');
            console.log("end="+a1)
            row.starttime =a1;
            row.endtime = b1;
            $('#editModal').modal('show');
            console.log("row2"+value,row,index)
            $('#editForm').fillForm(row);
            // editAfter('', row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    // $('#editstaid').blur(function(){
    //     console.log(staidno)
    //     console.log($('#editstaid').val())
    //     if($('#editstaid').val()!=staidno){
    //         $(this).attr("data-remote","staff/check");
    //         $(this).attr("data-remote-error","该员工编号已存在！");
    //     }if($('#editstaid').val()==staidno){
    //         $(this).attr("data-remote","staff/getwo");
    //         $(this).attr("data-remote-error","");
    //     }
    // })
    var setting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };
    var orgList = [[${organizationList}]];
    var zNodes = [];
    for (var i in orgList) {
        zNodes.push({id: orgList[i].id, pId: orgList[i].parentId, name: orgList[i].name});
    }

    function onClick(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("tree"),
            nodes = zTree.getSelectedNodes(),
            id = "",
            name = "";
        nodes.sort(function compare(a, b) {
            return a.id - b.id;
        });
        for (var i = 0, l = nodes.length; i < l; i++) {
            id += nodes[i].id + ",";
            name += nodes[i].name + ",";
        }
        if (id.length > 0) id = id.substring(0, id.length - 1);
        if (name.length > 0) name = name.substring(0, name.length - 1);
        $("#organizationId").val(id);
        $("#organizationName").val(name);
        $("#editOrganizationId").val(id);
        $("#editOrganizationName").val(name);
        hideMenu();
    }

    function showMenu() {
        var cityObj = $("#organizationName");
        var cityOffset = $("#organizationName").offset();
        $("#menuContent").css({
            left: cityOffset.left + "px",
            top: cityOffset.top + cityObj.outerHeight()
        }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }

    function showMenuOfEdit() {
        var cityObj = $("#editOrganizationName");
        var cityOffset = $("#editOrganizationName").offset();
        $("#menuContent").css({
            left: cityOffset.left + "px",
            top: cityOffset.top + cityObj.outerHeight()
        }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }

    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }

    function onBodyDown(event) {
        if (!(event.target.id == "organizationName" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
            hideMenu();
        }
    }

    $.fn.zTree.init($("#tree"), setting, zNodes);
    $("#organizationName").click(showMenu);
    $("#editOrganizationName").click(showMenuOfEdit);
</script>


<!-- 提示信息模态框 -->

<!--<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertdiv">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>-->
</html>