<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        定区管理
        <small>关联取派人员管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">定区管理</a></li>
        <li class="active">关联取派人员管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchfetchpeoplename"> 取派员名</label>
                                <input type="text" class="form-control input-sm" name="fetchpeoplename" id="searchfetchpeoplename" placeholder="请输入取派员名">
                            </div>
                            <div class="form-group">
                                <label for="searchcollectiontime"> 取派时间</label>
                                <input type="text" class="form-control input-sm" name="collectiontime" id="searchcollectiontime">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="assWidgets:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <button shiro:hasPermission="assWidgets:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="assWidgets:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加关联地址</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="fixedareano"><span class="asterisk">*</span>定区编号:</label>
                        <select name="fixedareano" id="fixedareano" class="form-control select2"
                                data-placeholder="请从列表选择一项" required>
                            <option></option>
                            <option th:each="fixedArea : ${fixedAreaList}" th:value="${fixedArea.fixedareano}" th:text="${fixedArea.fixedareano}">

                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fetchpeopleno"><span class="asterisk">*</span>取派员编号:</label>
                        <select name="fetchpeopleno" id="fetchpeopleno" class="form-control select2"
                                data-placeholder="请从列表选择一项" required>
                            <option></option>
                            <option th:each="staffList : ${staffList}" th:value="${staffList.staid}" th:text="${staffList.staid}">

                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="fetchpeoplename"> 取派员名</label>
                        <input type="text" class="form-control input-sm" name="fetchpeoplename" id="fetchpeoplename" readonly>
                    </div>
                    <div class="form-group">
                        <label for="collectionstandard"> 收派标准</label>
                        <input type="text" class="form-control input-sm" name="collectionstandard" id="collectionstandard" readonly >
                    </div>
                    <div class="form-group">
                        <label for="collectiontime"> 收派时间</label>
                        <input type="text" class="form-control input-sm" name="collectiontime" id="collectiontime"
                               data-toggle="modal"  data-target="#secModal" data-placeholder="请选择时间" required>
                    </div>
                    <div class="form-group">
                        <label for="institute"> 所属单位</label>
                        <input type="text" class="form-control input-sm" name="institute" id="institute" value="总部" readonly>
                    </div>
                    <div class="form-group">
                        <label> 类型</label>
                        <input type="radio" name="type" value="司机" checked>司机
                        <input type="radio" name="type" value="小件员">小件员
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="addForm" id="addAss" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/assWidgets/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改用户</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <input type="hidden" name="fixedareano"/>
                    <div class="form-group">
                        <label class="control-label" for="editfetchpeopleno"><span class="asterisk">*</span>取派员编号:</label>
                        <select name="fetchpeopleno" id="editfetchpeopleno" class="form-control select2"
                                data-placeholder="请从列表选择一项" required>
                            <option>请选择</option>
                            <option th:each="staffList : ${staffList}" th:value="${staffList.staid}" th:text="${staffList.staid}">

                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="editfetchpeoplename"> 取派员名</label>
                        <input type="text" class="form-control input-sm" name="fetchpeoplename" id="editfetchpeoplename" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editcollectionstandard"> 收派标准</label>
                        <input type="text" class="form-control input-sm" name="collectionstandard" id="editcollectionstandard" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editcollectiontime"> 收派时间</label>
                        <input type="text" class="form-control input-sm" name="collectiontime" id="editcollectiontime" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editinstitute"> 所属单位</label>
                        <input type="text" class="form-control input-sm" name="institute" id="editinstitute" readonly>
                    </div>
                    <div class="form-group">
                        <label> 类型</label>
                        <input type="radio" name="type" value="司机" disabled="disabled">司机
                        <input type="radio" name="type" value="小件员" disabled="disabled">小件员
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/assWidgets/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除关联取派员</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/assWidgets/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="secModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" style="width: 50%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="secDateModalLabel">选择收派时间</h4>
            </div>
            <div class="modal-body">
                <div id="toolbarsp">
                    <form class="form-inline" id="searchSpDateForm">
                        <div class="form-group">
                            <label for="dateName"></span> 时间名:</label>
                            <select name="name" id="dateName" class="form-control select2"
                                    data-placeholder="请从列表选择一项">
                                <option value="">请选择</option>
                                <option th:each="spDateList : ${spDateList}" th:value="${spDateList.datename}" th:text="${spDateList.datename}">
                                </option>
                            </select>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                <i class="glyphicon glyphicon-search"></i>
                                查询
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="glyphicon glyphicon-trash"></i>
                                清空
                            </button>
                        </div>
                    </form>
                </div>
                <table id="sptable"></table>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a shiro:hasPermission="assWidgets:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="assWidgets:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<div id="spActionButtons" class="admin-hide">
    <a class="edit" href="javascript:void(0)" data-toggle="tooltip" title="选择" data-dismiss="modal"><i class="glyphicon glyphicon-edit"></i></a>　
</div>
<!-- zTree -->
<div id="menuContent" class="menuContent"
     style="display:none;z-index:1989101600;position: absolute;border: 1px solid #ccc; background-color: #fff;">
    <ul id="tree" class="ztree"></ul>
</div>
<script th:inline="javascript">

    var $table = $('#table');
    var $sptable = $('#sptable');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/

        $table.bootstrapTable({
            url: CONTEXT_PATH + '/assWidgets/list',
            idField: 'id',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'fetchpeopleno', title: '取派人工号', sortable: true, halign: 'left'},
                {field: 'fetchpeoplename', title: '取派人姓名', sortable: true, halign: 'left'},
                {field: 'collectionstandard', title: '取派标准', sortable: true, halign: 'left'},
                {field: 'collectiontime', title: '取派时间', sortable: true, halign: 'left'},
                {field: 'institute', title: '所属单位', sortable: true, halign: 'left'},
                {field: 'type', title: '取派人类型', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
        $sptable.bootstrapTable({
            url: CONTEXT_PATH + '/assWidgets/spdatelist',
            idField: 'id',
            toolbar: '#toolbarsp',
            columns: [
                {field: 'dateName', title: '取派时间名', sortable: true, halign: 'left'},
                {field: 'pacificUp', title: '平时上班时间', sortable: true, halign: 'left'},
                {field: 'pacificoOf', title: '平时下班时间', sortable: true, halign: 'left'},
                {field: 'satUp', title: '周六上班时间', sortable: true, halign: 'left'},
                {field: 'satOff', title: '周六下班时间', sortable: true, halign: 'left'},
                {field: 'sunUp', title: '周日上班时间', sortable: true, halign: 'left'},
                {field: 'sunOff', title: '周日下班时间', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'spActionFormatter',
                    events: 'spactionEvents',
                    clickToSelect: false
                }
            ]
        })
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    $('#fetchpeopleno').change(function(){
        var fetchpeopleno = $('#fetchpeopleno').select2().val()
        console.log("fetchpeopleno="+fetchpeopleno)
        $.getJSON(CONTEXT_PATH + "/assWidgets/selectfetchpeople",{"staid":fetchpeopleno},function(json){
            console.log("name="+json.name)
            console.log("id="+json.standardid)
            $('#fetchpeoplename').val(json.name)
            $('#collectionstandard').val(json.standardid)
        })
    })

    $('#editfetchpeopleno').change(function(){
        var fetchpeopleno = $('#editfetchpeopleno').select2().val()
        console.log("fetchpeopleno="+fetchpeopleno)
        $.getJSON(CONTEXT_PATH + "/assWidgets/selectfetchpeople",{"staid":fetchpeopleno},function(json){
            console.log("name="+json.name)
            console.log("id="+json.standardid)
            $('#editfetchpeoplename').val(json.name)
            $('#editcollectionstandard').val(json.standardid)
        })
    })

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    function spActionFormatter(value, row, index) {
        return $('#spActionButtons').html();
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    window.spactionEvents = {
        'click .edit': function (e, value, row, index) {
            console.log("row="+row.dateName)
            $("#collectiontime").val(row.dateName)
        },
    };



    var setting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    function showMenu() {
        $("body").bind("mousedown", onBodyDown);
    }

    function showMenuOfEdit() {

        $("body").bind("mousedown", onBodyDown);
    }

    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }

    function onBodyDown(event) {
        if (!(event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
            hideMenu();
        }
    }
</script>
</html>